node_modules
helpers
CONVENTION_NOMMAGE.pdf
E-P_Web294-CDC.pdf
E-P_Web294-CDC.docx
.vs/
*.suo
*.user
*.vcxproj.user
*.db
*.opendb

bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

packages/
node_modules/
*.csproj.user
*.csproj.user.json
*.sln.cache
*.sln.ide